* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body {
    margin: 0 auto;
    background-color: #DCDCDC;
}
/* Header*/
.menu-principal {
    background-color: #1C1C1C;
    height: 80px;
}

.main-header {
    position: relative;
    margin: 0 auto;

}

.titulo {
    padding-top: 17px;
    margin-left: 80px;
    float: left;
    color: white;
    text-shadow: 7px 5px 4px #808080;

}

.menu-1 {
    margin-right: 120px;
    padding-top: 27px;
    float: right;
}

.menu-1 a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 30px;
}

.menu-1 a:hover {
    color: #00BFFF;
}
/*body*/
.main-body {
    width: 940px;
    height: 949px;
    position: relative;
    margin: 0 auto;
    padding: 20px;

}
h2 {
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 25px;
}
.container {
    color: black;
    font-size: 20px;
    width: 900px;
    height: 1000px;

}
.coluna-1 {
    width: 260px;
}
.bloco-1 {
    display: inline-block;
    width: 240px;
    overflow: hidden;
}
.bloco-1 img {
    height: 128px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
}
.bloco-1 p a {
    color: black;
    text-decoration: none;

}
.bloco-1 p a:hover {
    color: #00BFFF;

}
.hr-1{
    width: 2px;
    height: 700px;
    background-color: #808080;
    position: absolute;
    left: -40px;
    top: 30px;
}
.bloco-maior{
    position: relative;
    width: 560px;
    left: 307px;
    bottom: 773px;
}
.bloco-maior img{
    width: 540px;
    height: 300px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
}
.bloco-maior p a {
    color: black;
    text-decoration: none;
}
.bloco-maior p {
    padding-bottom: 20px;
}
.bloco-maior p a:hover {
    color: #00BFFF;
}
.hr-2 {
    background-color: #808080;
    height: 2px;
}
.coluna-2 {
    width: 260px;
    position: relative;
    left: 309px;
    bottom: 762px;

}
.bloco-2 {
    display: inline-block;
    width: 240px;
    overflow: hidden
}
.bloco-2 img {
    height: 128px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
}
.bloco-2 p a {
    color: black;
    text-decoration: none;

}
.bloco-2 p a:hover {
    color: #00BFFF;

}
.coluna-3 {
    width: 260px;
    position: relative;
    left: 600px;
    bottom: 1138px;

}
.bloco-3 {
    display: inline-block;
    width: 240px;
    overflow: hidden
}
.bloco-3 img {
    height: 128px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 10px;
}
.bloco-3 p a {
    color: black;
    text-decoration: none;

}
.bloco-3 p a:hover {
    color: #00BFFF;

}
.footer{
    height: 160px;
    background-color: #1C1C1C;
}